:root {
    background-color: #BEBEBE;
    font-family: Helvetica, sans-serif;
    font-size: 120%;
}

p {
    line-height: 145%;
    letter-spacing: -0.05rem;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
    padding-inline-start: 2.5rem;
    padding-inline-end: 2.5rem;
}

h1 {
    color: black;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: -0.38rem;
    line-height: 4.4rem;
    padding-inline-start: 2.5rem;
    padding-inline-end: 2.5rem;
}

/* RMB to change the color H1 */
h2 {
    color: #BEBEBE;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -0.45rem;
    text-transform: lowercase;
    margin-inline-start: 1rem;
    background-color: #4800C0;
    display: flow-root;
    inline-size: fit-content;
    width: 93vw;

    &::before,
    &::after {
		content: ''; /* Gives us “empty” pseudos to work with. */
		display: block;
		visibility: hidden; /* We don’t need to see it or click it. */
	}

    &::before { margin-block-start: -0.25em; }
	&::after { margin-block-end: -0.25em; }
}

/* RMB to change the color for H2*/

.line {
    height: 100vh;
    width: 0.3rem;
    position: fixed;
    background-color: #F46738;
    top: 0;
    margin-inline-start: 1rem;
}

.intro p {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    line-height: 125%;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

.quote {
    font-weight: 700;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

.author {
    font-size: 90%;
}

.about {
    color: black;
    font-weight: 600;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    background-color: #F46738;

    p {
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        font-size: 85%;
        line-height: 120%;
    }

    &::after {
		content: ''; /* Gives us “empty” pseudos to work with. */
		display: block;
		visibility: hidden; /* We don’t need to see it or click it. */
	}

	&::after { margin-block-end: -1em; }
}

.credits {
    font-weight: 600;
    display: flex;
}